<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zm.gmall.manage.dao.PmsProductSaleAttrMapper">
    <!-- List<PmsProductSaleAttr> selectSpuSaleAttrListCheckBySku(@Param("productId") String productId, @Param("skuId") String skuId);
-->
   <select id="selectSpuSaleAttrListCheckBySku" resultMap="selectSpuSaleAttrListCheckBySkuMap">
        SELECT
        psa.id as psa_id,psav.id as psav_id,psa.*,psav.*,if(pssav.sku_id,1,0) as isChecked
        FROM
        pms_product_sale_attr psa
        INNER JOIN pms_product_sale_attr_value psav
        ON psav.sale_attr_id = psa.sale_attr_id
        AND psav.product_id = psa.product_id AND psa.product_id=#{productId}
        LEFT JOIN pms_sku_sale_attr_value pssav
        ON pssav.sale_attr_value_id = psav.id
        AND pssav.sku_id=#{skuId}
   </select>
    <resultMap id="selectSpuSaleAttrListCheckBySkuMap" autoMapping="true" type="com.zm.gmall.bean.PmsProductSaleAttr">
        <result column="psa_id" property="id"></result>
        <collection property="spuSaleAttrValueList" ofType="com.zm.gmall.bean.PmsProductSaleAttrValue" autoMapping="true">
            <result column="psav_id" property="id"></result>
        </collection>
    </resultMap>
</mapper>