<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"  />
    <title>Title</title>
</head>
<body>
    thymeleaf是springboot渲染原生模板
    第一个springboot项目
    <br>

    <br/>
    <!--取值-->

    <p th:text="${msg}">打底值</p>
    <!--循环-->
    <!--循环写法一-->
    <p th:each="str:${list}" th:text="${str}"></p>
    <!--循环写法二-->
    <p th:each="str:${list}">
        <label th:text="${str}"></label>
        <input th:text="${str}" th:value="${str}"/>
    </p>
    <!--判断-->
    <p th:if="1==1">判断是否存在</p>
    <input type="checkbox"  th:checked="${check}=='1'"/>
    <!--传值给javascript-->
    <a th:href="'javascript:a(\'' +${msg}+ '\');'">点击</a>
    <script language="javascript">
        function a(msg){
            alert("a()函数被调用"+msg);
        }
    </script>
    <!--引入外部页面-->
    <div th:include="indexinner::partHtml"></div>
</body>
</html>